# Ignore files and directories

# .venv
.venv/

# yamls
yamls/ocr_settings.yaml
yamls/sanitization_settings.yaml
yamls/sanitization_settings_pgx.yaml
yamls/create_qa_settings.yaml

# test files
/test_pdfs/aiplan_g_20251223.pdf
/imgs/
/test_output/
/test_source/pdfs_2/

**/__pycache__/

.DS_Store
*/.DS_Store
*/*/.DS_Store
